---
layout: default
menu_schulen: yes
js_schoolprofile: yes
title: Schulprofil
description:
---
{% raw %}
<main ng-app="App" ng-app="App" ng-controller="schoolProfileController">
    <section class="container-outer container-bgi-yellow profile">
        <div class="container-padded">
            <div class="container">
                <div class="container-left-12">
                    <h2>{{school.name}}</h2>
                    <p>
                        Oftmals werden diese Aktivitäten in der öffentlichen Debatte nicht thematisiert. Für alle
                        allgemeinbildenden Schulen in Berlin und Sachsen haben wir deshalb diese Informationen aufbereitet.
                        Detaillierte Aktivitäten und Partner der jeweiligen Schulen finden Sie auf den
                        <a href="http://127.0.0.1:4000/schulen/#!?full_time_schools=false&lat=51.699799849741936&lng=13.073730468750002&zoom=7&school_profiles">Schulprofilen</a>
                        der zwei Bundesländer.
                    </p>

                </div>
            </div>
        </div>
    </section>
    <section class="container-outer profile-map">
        <div class="container-padded">
            <div class="container">
                <div class="container-left-4">
                    <div class="box box-margin-top-medium box-margin-left-medium">
                        <h5>Allgemeine Angaben</h5>
                        <ul class="list-unstyled">
                            <li ng-if="school.school_type"><strong>Schultyp:</strong> {{school.school_type}}</li>
                            <li ng-if="school.provider"><strong>Träger:</strong> {{school.provider}}</li>
                            <li ng-if="school.legal_status"><strong>Rechtstatus:</strong> {{school.legal_status}}</li>
                            <li ng-if="school.website"><strong>Webseite:</strong><a href="{{school.website}}" target="_blank"> Link</a></li>
                            <li ng-if="school.email"><strong>Email:</strong> {{school.email}}</li>

                        </ul>
                        <h5>Kontakt</h5>
                        <ul>
                            <li ng-if="school.director"><strong>Direktor*in:</strong> {{school.director}}</li>
                            <li ng-if="school.phone"><strong>Telefon:</strong> {{school.phone}}</li>
                            <li ng-if="school.fax"><strong>Fax:</strong> {{school.fax}}</li>
                            <li ng-if="school.address"><strong>Adresse:</strong> {{school.address}}</li>
                        </ul>
                    </div>
                </div>
                <div class="container-left-8 profile-map-info">
                    <div class="box box-margin-top-medium">
                        <div id="map-profile"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="container-outer container-bg-grey">
        <div class="container-padded">
            <div class="container">
                <div class="container-left-12">
                    <h2 class="text-center">Leitbild</h2>
                    <p ng-if="school.concept">{{school.concept}}</p>
                    <p ng-if="!school.concept">Zum Leitbild sind leider keine Informationen verfügbar.</p>
                </div>
            </div>
        </div>
    </section>
    <section class="container-outer container-bg">
        <div class="container-padded">
            <div class="container">
                <div class="container-left-12">
                    <h2 class="text-center">Schüler</h2>
                    <div ng-if="!(school.profile.students | isEmpty)">
                        <p>
                            Informieren Sie sich über den zeitlichen Verlauf der Schüler*innenzahlen dieser Schule.
                        </p>
                        <chartist class="ct-chart" chartist-data="students_data" chartist-chart-type="Line"
                                  chartist-chart-options="options_students"></chartist>
                    </div>
                    <p ng-if="(school.profile.students | isEmpty)">Zu Schülern sind leider keine Informationen verfügbar.</p>


                </div>
            </div>
        </div>
    </section>
    <section class="container-outer container-bg-grey">
        <div class="container-padded">
            <div class="container">
                <div class="container-left-12">
                    <h2 class="text-center">Lehrer</h2>
                    <div ng-if="school.profile.teacher.length > 0">
                        <p>Informieren Sie sich über den zeitlichen Anteil der Lehrenden dieser Schule.</p>
                        <chartist class="ct-chart" chartist-data="teacher_data" chartist-chart-type="Line"
                                  chartist-chart-options="teacher_options"></chartist>
                    </div>
                    <p ng-if="!school.profile.teacher.length > 0">Zu Lehreren sind leider keine Informationen verfügbar.</p>
                </div>
            </div>
        </div>
    </section>
    <section class="container-outer">
        <div class="container-padded">
            <div class="container">
                <div class="container-left-12">
                    <h2 class="text-center">Partner</h2>
                    <div class="container partner" ng-if="partner_stat.length > 0">
                        <div class="container-left-12">
                            <div class="progress">
                                <div class="progress-bar-wrapper" ng-repeat="partner in partner_stat">
                                    <div class="progress-bar"
                                         style="width: {{partner.value}}%; background-color: {{partnerRessources[partner.name].color}}">
                                        <p>{{partner.value}}%</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="container-left-12">
                            <div ng-repeat="(partner_cat, partners) in partner track by $index" class="container-left-4">
                                <div class="box box-with-head box-margin-top-medium" ng-attr-style="border-color:{{partnerRessources[partner_cat].color}}">
                                <p class="bold text-center">
                                    <i class="fa fa-square" style="color: {{partnerRessources[partner_cat].color}}"></i>{{partner_cat}}
                                </p>
                                <ul class="list-unstyled">
                                    <li ng-repeat="partner in partners track by $index">{{partner.name}}</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <p ng-if="!partner_stat.length > 0">Zu Partnern sind leider keine Informationen verfügbar</p>
                </div>
            </div>
        </div>
    </section>
    <section class="container-outer container-bg-grey">
        <div class="container-padded">
            <div class="container">
                <div class="container-left-12 working_groups">
                    <h2 class="text-center">Arbeitsgemeinschaften</h2>
                </div>
            </div>
            <div class="container working_groups" ng-if="!(working_groups | isEmpty)">
                <div ng-repeat="(wg_cat, wgs) in working_groups track by $index" class="container-left-4">
                    <div class="box box-with-head box-margin-top-medium" ng-attr-style="border-color:{{categoryRessources[wg_cat].color}}">
                        <img class="box-head wg-icon" ng-attr-src="{{categoryRessources[wg_cat].image}}" alt="">
                        <p class="bold text-center">{{wg_cat}}</p>
                        <ul class="list-unstyled">
                            <li ng-repeat="wg in wgs track by $index">{{wg.name}}</li>
                        </ul>
                    </div>
                </div>
            </div>
            <p ng-if="(working_groups | isEmpty)">Zu Arbeitsgemeinschaften sind leider keine Informationen verfügbar.</p>
        </div>
    </section>
</main>
{% endraw %}