---
layout: default
menu_laender: yes
title: OKF Datenschule
description: Tue Gutes mit Daten
---
<section class="container-outer container-bgi-red">
	<div class="container-padded">
		<div class="container">
			<div class="container-left-8">
				<h1>Schulsystem</h1>
				<p>Laut Grundgesetz ist Bildungspolitik Ländersache. Für die Schulbildung und die Verwaltung der Schulen
					sind auf Länderebene die Kultusministerien zuständig. Die Schulsysteme in den Bundesländern
					unterscheiden sich zum Teil stark hinsichtlich der Lehrpläne, der Abschlussprüfungen am Gymnasium,
					der Anzahl von Schuljahren, dem Fächerangebot, den Schularten und beim Übergang von der Grundschule
					in eine weiterführende Schule. Insgesamt gibt es in Deutschland knapp 180 unterschiedliche Schularten.
				</p>
				<p>
					Für die 16 Bundesländer können Sie sich über die Entwicklung der Schularten, der Einnahmen laut dem
					Bildungsfinanzbericht, der Lehrerbeschäftigung und dem Fremdsprachenangebot informieren.
				</p>
			</div>
		</div>
    </div>
</section>
<section class="container-outer">
	<div class="container-padded">
		<div class="container">
			<div class="container-left-12">
				<h3><span>Informationen zu Schulen in den Bundesländern</span></h3>
			</div>
			<div class="container-left-6">
				{% include svg/germany-topo.svg %}
			</div>
			<div class="container-left-6">
				<ul>
					{% for state in site.laender %}
					<li class="list-inline"><a href="{{state.link}}">{{state.name}}</a></li>
					{% endfor %}
				</ul>
			</div>
		</div>
	</div>
</section>
<section class="container-outer container-bg-grey">
	<div class="container-padded">
		<div class="container">
			<div class="container-left-12">
				<h3 class="text-center"><span>Weiterführende Informationen zum Schulsystem</span></h3>
			</div>
			<div class="container-left-12">
				<p>Die Vielfältigkeit des heutigen Schulsystems ist darauf zurückzuführen, dass Deutschland bis 1871 aus vielen Einzelstaaten bestand, in denen sich die Bildungssysteme sehr unterschiedlich entwickelten. Schulpolitik blieb
					auch nach der Reichsgründung (1871) Ländersache. Diese föderalen Strukturen blieben in der Weimarer Republik und in der Bundesrepublik Deutschland erhalten. Weitere gut aufbereitete Informationen sind von der
					Bundeszentrale für politische Bildung (bpb) zusammengestellt:
					<a href="http://www.bpb.de/gesellschaft/kultur/zukunft-bildung/145249/geschichte-des-bildungssystems">
						Deutsche Bildungsgeschichte – eine Zeitleiste</a>
				</p>
				<p>
					Da es kein übergreifend agierendes Bundesministerium für Schulbildung gibt, werden viele
					Entscheidungen an die <a href="https://www.kmk.org/">Kultusministerkonferenz</a> delegiert, in der die
					Bildungsminister*innen tagen.
				</p>
				<p>Der <a href="https://www.destatis.de/DE/Publikationen/Thematisch/BildungForschungKultur/BildungKulturFinanzen/BildungsfinanzberichtTabellenteil.html;jsessionid=ACA728FB45F4F1AFE4F02454B090A716.cae3">Bildungsfinanzbericht
					(Stand 2015)</a> verzeichnet alle Einnahmen und Ausgaben, die der Bund für
					Schulbildung in Deutschland ausgibt.
				</p>
				<p>
					Das Statistische Bundesamt gibt zwei Mal jährlich den Bericht
					<a href="www.destatis.de/DE/Publikationen/Thematisch/BildungForschungKultur/Schulen/BroschuereSchulenBlick0110018169004.pdf">
						Schulen auf einen Blick</a> heraus.
				</p>
				<p>
					Welches Bundesland hat das beste Bildungssystem? Wer hat sich verbessert? Wo gibt es in Kindergarten, Schule, Lehre und Hochschule Änderungsbedarf? All diese Fragen untersucht der <a
						href="http://www.insm-bildungsmonitor.de/">Bildungsmonitor</a>.
					Die Vergleichsstudie wird seit 2004 vom Institut der deutschen Wirtschaft Köln (IW) im Auftrag der Initiative Neue Soziale Marktwirtschaft (INSM) erstellt.
				</p>
				<p>
					Seit dem Jahr 2000 werden internationale Schulleistungsstudien durchgeführt: Die PISA-Studie
					(Programme for International Student Assessment) wurde in 2000 erstmals durchgeführt und seitdem
					alle drei Jahre wiederholt: <a href="www.pisa.tum.de/fileadmin/w00bgi/www/Berichtband_und_Zusammenfassung_2012/PISA_2015_Zusammenfassung_final.pdf">
					Zur aktuelle PISA-Studie aus dem Jahr 2015</a>
				</p>
			</div>
		</div>
	</div>
</section>
