---
layout: default
menu_schulen: yes
js_schulen: yes
title: Schulen
description: Suchen und Filtern Sie nach Schulen und Schulprojekten
---
<section class="container-outer container-bgi-yellow">
	<div class="container-padded">
		<div class="container">
			<div class="container-left-8">
				<h1>Schulen</h1>
				<p>
					Über die Karte können Sie sich einen Überblick zu rund 30.000 allgemeinbildenden Schulen in Deutschland verschaffen. Die Daten stammen überwiegend aus den zugänglichen Schulverzeichnissen der Statistischen Landesämter, zu den <a href="/daten">Einzelnachweisen</a>. Da sich die Qualität der vorliegenden Informationen in den Ländern
					unterscheidet, sind nicht alle Schulinformationen vollständig erfasst.
				</p>
				<p>
					Filtern Sie nach "Schulprofilen", um sich für knapp 3.300 Schulen das Leitbild, die Anzahl der Schüler*innen und Lehrer*innen, Partnerschaften und angebotene Schulaktivitäten anzeigen zu lassen. Dazu liegen uns aktuell (Stand: 01.01.2017) Daten für Berlin und Sachsen vor.<br>
				</p>
			</div>
		</div>
	</div>
</section>
<section class="container-outer" ng-app="App" ng-controller="MapController">
	<div class="container">
		<div class="container-padded" ng-show="false">
			App wird geladen…
		</div>
		<div class="container-padded" ng-cloak>
			<div class="container-left-12">
				<h4>Suchen und Filtern Sie nach Schulen und Schulprojekten</h4>
				{% raw %}
				<div class="filter-wrapper">
					<div class="filter">
						<p class="bold">Bundesland:</p>
						<ui-select multiple ng-model="filter.state.selected" theme="select2">
							<ui-select-match placeholder="z.B. Berlin">{{$item.name}}</ui-select-match>
							<ui-select-choices repeat="o in filter.state.defs | propsFilter: {name: $select.search}">{{o.name}}</ui-select-choices>
						</ui-select>
					</div>
					<div class="filter">
						<p class="bold">Alle Schularten:</p>
						<ui-select multiple ng-model="filter.types.selected" theme="select2">
							<ui-select-match placeholder="z.B. Gymnasium">{{$item}}</ui-select-match>
							<ui-select-choices repeat="o in filter.types.defs | filter: $select.search">{{o||'Unbekannt'}}</ui-select-choices>
						</ui-select>
					</div>
					<div class="filter">
						<p class="bold">Rechtlicher Status:</p>
						<ui-select multiple ng-model="filter.legal.selected" theme="select2">
							<ui-select-match placeholder="z.B. öffentlich">{{$item.name}}</ui-select-match>
							<ui-select-choices repeat="o in filter.legal.defs | propsFilter: {name: $select.search}">{{o.name}}</ui-select-choices>
						</ui-select>
					</div>
					<div class="filter">
						<p class="bold">Themen:</p>
						<ui-select multiple ng-model="filter.category.selected" theme="select2">
							<ui-select-match placeholder="z.B. Umwelt…">{{$item}}</ui-select-match>
							<ui-select-choices repeat="o in filter.category.defs | filter: $select.search">{{o}}</ui-select-choices>
						</ui-select>
					</div>
					<div class="filter">
						<p class="bold">Aktivitäten:</p>
						<ui-select multiple ng-model="filter.entity.selected" theme="select2">
							<ui-select-match placeholder="z.B. Fußball…">{{$item}}</ui-select-match>
							<ui-select-choices repeat="o in filter.entity.defs | filter: $select.search">{{o}}</ui-select-choices>
						</ui-select>
					</div>
					<div class="filter">
						<p class="bold">Partnerschaften:</p>
						<ui-select multiple ng-model="filter.partner.selected" theme="select2">
							<ui-select-match placeholder="z.B. Gemeinnütziger Akteur">{{$item}}</ui-select-match>
							<ui-select-choices repeat="o in filter.partner.defs | filter: $select.search">{{o}}</ui-select-choices>
						</ui-select>
					</div>
					<div class="filter">
						<p class="bold">Schulsuche:</p>
						<div class="ui-select-container ui-select-multiple select2 select2-container select2-container-multi">
							<ul class="select2-choices">
								<li class="select2-search-field filter-input-wrapper">
									<span class="input-prepend"><i class="fa fa-search"> </i></span>
									<input ng-model="filter.text.selected" ng-model-options="{ debounce: 300 }" placeholder="Name oder PLZ" class="select2-input ui-select-search input-prepended" autocomplete="off" autocorrect="off"
										   autocapitalize="off" spellcheck="false"/>
								</li>
							</ul>
						</div>
					</div>
					<div class="filter">
						<label class="checkbox-label"><input ng-model="filter.profile.selected" type="checkbox"/> <strong>mit Schulprofil</strong></label>
					</div>
					<div class="filter">
						<label class="checkbox-label"><input ng-model="filter.fulltime.selected" type="checkbox"/> <strong>Ganztagsschulen</strong></label>
					</div>
				</div>
				<div>
					<span ng-bind="totalCount"></span> Schule<span ng-if="totalCount!==1">n</span> in Auswahl
					<small ng-if="hasFilter" class="pull-right clickable" ng-click="clearFilters()"><i class="fa fa-close"></i>Alle Filter entfernen</small>
				</div>
				<div id="slider" class="animate-hide" ng-hide="!infoBox.visible">
					<div class="map-info" ng-hide="!infoBox.loading">
						<span class="close-button" ng-click="closeSlider()"><i class="fa fa-close"></i></span>
						<h4 ng-bind="infoBox.markerSchool.name"></h4>
						<i class="fa fa-spin fa-spinner"></i>
					</div>
					<div class="map-info" ng-hide="infoBox.loading">
						<span class="close-button" ng-click="closeSlider()"><i class="fa fa-close"></i></span>
						<h4 ng-bind="infoBox.school.name"></h4>
						<p class="italic" ng-bind="infoBox.school.address"></p>
						<ul class="list-unstyled">
							<li ng-if="infoBox.school.provider"><strong>Träger:</strong> {{infoBox.school.provider}}</li>
							<li><strong>Rechtstatus:</strong> {{getLegalStatus(infoBox.school.legal_status)}}</li>
							<li ng-if="infoBox.school.school_type"><strong>Schultyp:</strong> {{infoBox.school.school_type}}</li>
							<li ng-if="infoBox.school.fax"><strong>Fax:</strong> {{infoBox.school.fax}}</li>
							<li ng-if="infoBox.school.phone"><strong>Telefon:</strong> {{infoBox.school.phone}}</li>
							<li ng-if="infoBox.school.director"><strong>Direktor:</strong> {{infoBox.school.director}}</li>
							<li ng-if="infoBox.school.website"><a href="{{infoBox.school.website}}" target="_blank">Webseite</a></li>
						</ul>
						<p ng-if="infoBox.school.profile">
							<a class="button" target="_blank" href="/schulprofil/index.html?id={{infoBox.school.id}}">Zum Schulprofil</a>
						</p>
					</div>
				</div>
				<div id="map-container">
					<div id="map"></div>
					<div ng-show="progress.total !== progress.current" class="overlay">
						<progress max="{{progress.total}}" value="{{progress.current}}"></progress>
					</div>
				</div>
				<div class="map-legend">
					Gruppierung:
					<div>
						<div class="map-legend-color marker-cluster-small"></div>
						< 10 Schulen
					</div>
					<div>
						<div class="map-legend-color marker-cluster-medium"></div>
						< 100 Schulen
					</div>
					<div>
						<div class="map-legend-color marker-cluster-large"></div>
						< 1000 Schulen
					</div>


				</div>
				{% endraw %}
			</div>
			<p class="map-source">
				Quelle: Schulverzeichnisse der Statistischen Landesämter, zu den <a href="/daten">Daten</a>.
			</p>
		</div>
	</div>
</section>

