---
layout: default
menu_schulen: yes
js_schulen: yes
title: Schulen - jedeschule.de
description: Suchen und Filtern Sie nach Schulen und Schulprojekten
---
{% raw %}
<section class="container-outer container-bgi-yellow">
    <div class="container">
        <div class="container-left-8">
            <h1>Schulen</h1>
            <p>Über die Karte können Sie sich einen Überblick zu rund 32.000 allgemeinbildenden Schulen in Deutschland verschaffen. Schulaktivitäten und -projekte werden für jede Schule als „Schulprofile” detailliert dargestellt. Aktuell (Stand: 15.03.2017) liegen uns Daten für Berlin und Sachsen vor.</br>

            Die Daten stammen aus den zugängliche Schulverzeichnissen der Statistischen Landesämter, zu den <a href="/daten">Einzelnachweisen</a>. Da sich die Qualität der vorliegenden Informationen in den Ländern unterscheidet, sind nicht alle Schulinformationen vollständig erfasst.
            </p>
        </div>
    </div>
</section>
<section class="container-outer" ng-app="App" ng-controller="MapController" ng-cloak>
    <div class="container">
        <div class="container-left-12">
            <h4>Suchen und Filtern Sie nach Schulen und Schulprojekten</h4>
            <div>
                <div class="filter-wrapper container">
                    <div class="filter container-left-4">
                        <p class="bold">Bundesland:</p>
                        <ui-select multiple ng-model="filter.state.selected" theme="select2">
                            <ui-select-match placeholder="z.B. Berlin">{{$item.name}}</ui-select-match>
                            <ui-select-choices repeat="o in filter.state.defs | propsFilter: {name: $select.search}">{{o.name}}</ui-select-choices>
                        </ui-select>
                    </div>
                    <div class="filter container-left-4">
                        <p class="bold">Alle Schularten:</p>
                        <ui-select multiple ng-model="filter.types.selected" theme="select2">
                            <ui-select-match placeholder="z.B. Gymnasium">{{$item}}</ui-select-match>
                            <ui-select-choices repeat="o in filter.types.defs | filter: $select.search">{{o||'Unbekannt'}}</ui-select-choices>
                        </ui-select>
                    </div>
                    <div class="filter container-left-4">
                        <p class="bold">Rechtlicher Status:</p>
                        <ui-select multiple ng-model="filter.legal.selected" theme="select2">
                            <ui-select-match placeholder="z.B. öffentlich">{{$item.name}}</ui-select-match>
                            <ui-select-choices repeat="o in filter.legal.defs | propsFilter: {name: $select.search}">{{o.name}}</ui-select-choices>
                        </ui-select>
                    </div>
                </div>
                <div class="filter-wrapper container">
                    <div class="filter container-left-4">
                        <p class="bold">Themen:</p>
                        <ui-select multiple ng-model="filter.category.selected" theme="select2">
                            <ui-select-match placeholder="z.B. Umwelt…">{{$item}}</ui-select-match>
                            <ui-select-choices repeat="o in filter.category.defs | filter: $select.search">{{o}}</ui-select-choices>
                        </ui-select>
                    </div>
                    <div class="filter container-left-4">
                        <p class="bold">Aktivitäten:</p>
                        <ui-select multiple ng-model="filter.entity.selected" theme="select2">
                            <ui-select-match placeholder="z.B. Fußball…">{{$item}}</ui-select-match>
                            <ui-select-choices repeat="o in filter.entity.defs | filter: $select.search">{{o}}</ui-select-choices>
                        </ui-select>
                    </div>
                    <div class="filter container-left-4">
                        <p class="bold">Partnerschaften:</p>
                        <ui-select multiple ng-model="filter.partner.selected" theme="select2">
                            <ui-select-match placeholder="z.B. Schule gegen Rassismus…">{{$item}}</ui-select-match>
                            <ui-select-choices repeat="o in filter.partner.defs | filter: $select.search">{{o}}</ui-select-choices>
                        </ui-select>
                    </div>
                </div>
                <div class="filter-wrapper container">
                    <div class="filter container-left-4">
                        <p class="bold">Schulsuche:</p>
                        <div class="ui-select-container ui-select-multiple select2 select2-container select2-container-multi">
                            <ul class="select2-choices">
                                <li class="select2-search-field filter-input-wrapper">
                                    <span class="input-prepend"><i class="fa fa-search"> </i></span>
                                    <input ng-model="filter.text.selected" ng-model-options="{ debounce: 300 }" placeholder="Name oder PLZ" class="select2-input ui-select-search input-prepended" autocomplete="off" autocorrect="off"
                                           autocapitalize="off" spellcheck="false"/>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="filter container-left-4">
                        <label><input ng-model="filter.profile.selected" type="checkbox"/> <strong>mit Schulprofil</strong></label>
                    </div>
                    <div class="filter container-left-4">
                        <label><input ng-model="filter.fulltime.selected" type="checkbox"/> <strong>Ganztagsschulen</strong></label>
                    </div>
                </div>
            </div>
            <div id="slider" class='animate-hide' ng-hide="!infoBox.visible">
                <a ng-click="closeSlider()" style="float: right">x</a>
                <div class="map-info" ng-hide="!infoBox.loading">
                    <h4>{{infoBox.markerSchool.name}}</h4>
                    <i class="fa-spin fa-spinner"></i>
                </div>
                <div class="map-info" ng-hide="infoBox.loading">
                    <h4>{{infoBox.school.name}}</h4>
                    <p class="italic">{{infoBox.school.address}}</p>
                    <ul class="list-unstyled">
                        <li ng-if="infoBox.school.provider"><strong>Träger:</strong> {{infoBox.school.provider}}</li>
                        <li ng-if="infoBox.school.legal_status"><strong>Rechtstatus:</strong> {{infoBox.school.legal_status == 1? 'Öffentlich' : 'Privat'}}</li>
                        <li ng-if="infoBox.school.school_type"><strong>Schultyp:</strong> {{infoBox.school.school_type}}</li>
                        <li ng-if="infoBox.school.fax"><strong>Fax:</strong> {{infoBox.school.fax}}</li>
                        <li ng-if="infoBox.school.phone"><strong>Telefon:</strong> {{infoBox.school.phone}}</li>
                        <li ng-if="infoBox.school.director"><strong>Direktor:</strong> {{infoBox.school.director}}</li>
                        <li ng-if="infoBox.school.website"><a href="{{infoBox.school.website}}" target="_blank">Webseite</a></li>
                    </ul>
                    <p ng-if="infoBox.school.profile">
                        <a href="/schulprofil/index.html?id={{infoBox.school.id}}">Schulprofil</a>
                    </p>
                </div>
            </div>
            <div id='map-container'>
                <div id='map'></div>
                <div ng-show="progress.total !== progress.current" class=overlay id='loading-overlay'>
                    <progress max="{{progress.total}}" value="{{progress.current}}"></progress>
                </div>
            </div>
        </div>
        <p class="source">
            Quelle: Schulverzeichnisse der Statistischen Landesämter, zu den <a href="/daten">Daten</a>.
        </p>
    </div>
    </div>
</section>
{% endraw %}

