
<div class="app-wrapper-languages">
    <!--<p>{{test}}</p>-->
    <!--<svg width="960" height="960" class="zoomablepack"></svg>-->
    <div class="container" ng-controller="agController" ng-init="init('{{include.name}}')">
        <div class="container-left-6">
            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et
            dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet
            clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet,
            consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat,
            sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea
            takimata sanctus est Lorem ipsum dolor sit amet.
        </div>
        {% raw %}
        <div class="container-left-6" >
            <div class="row">
                <div class="pie-container" ng-repeat="cat in data track by $index">
                    <div class="pie" style="animation-delay: -{{cat.amount_pc}}s"></div>
                    <p class="pie-caption">{{cat.name}}</p>
                    <p class="pie-caption">{{cat.amount}} von {{amount_schools}} Schulen</p>
                    <p class="pie-caption">{{cat.amount_pc}} %</p>
                </div>
            </div>
        </div>
        {% endraw %}
    </div>
</div>
