
<div class="app-wrapper-languages">
    <!--<p>{{test}}</p>-->
    <!--<svg width="960" height="960" class="zoomablepack"></svg>-->
    {% assign state = site.laender | where: 'url_name', include.name | first %}
    <div class="container" ng-controller="agController" ng-init="init('{{include.name}}')">
        <div class="container-left-6">
            {{state.agtext}}
        </div>
        {% raw %}
        <div class="container-left-6" >
            <div class="pie-wrapper">
                <div class="pie-container" ng-repeat="cat in data track by $index">
                    <p class="pie-caption bold">{{cat.name}}</p>
                    <div class="pie-body">
                        <div class="pie" style="animation-delay: -{{cat.amount_pc}}s"></div>
                        <p class="pie-caption">
                            {{cat.amount}} von {{amount_schools}} Schulen<br />
                            ({{cat.amount_pc}} %)
                        </p>
                        <p class="pie-caption"></p>
                    </div>
                </div>
            </div>
        </div>
        {% endraw %}
    </div>
</div>
