<div class="app-wrapper-partner">
    {% assign state = site.laender | where: 'url_name', include.name | first %}
    <div class="container">
        <div class="row">
            <div class="container-left-6">
                {{state.partnertext}}
            </div>
            <div class="container-left-6" ng-controller="PartnerController" ng-init="init('{{include.name}}')">
                <h5 class="text-center">Partnerschaften in {{include.caption}}</h5>
                <sankey data="data" label="label"></sankey>
            </div>
        </div>
    </div>
</div>