{% raw %}
<div class="app-wrapper-languages">
    <!--<p>{{test}}</p>-->
    <!--<svg width="960" height="960" class="zoomablepack"></svg>-->
    <div class="container">
        <div class="container-left-12" ng-controller="ProgramsController">
            <nvd3 options="options" data="data"></nvd3>
        </div>
        <div class="container-left-12">
            Schulen sind entscheidende Orte für die zukunftsfähige Entwicklung der Gesellschaft. Kooperationen sind eines der wichtigsten Merkmale der Entwicklung von Schulen. Viele Schulen nutzen dazu Bildungsprogramme außerschulischer Partner. Hier können die Schüler*innen ihre Potenziale erproben, erfahrungs- und handlungsorientiertes Lernen erfahren und selbst wirksam werden. Themen wie Demokratie, Nachhaltigkeit, Kultur oder Digitalisierung werden in den verschiedenen Kooperationen mit dem Schulleben verschränkt. Über die unmittelbare Beteiligung der Schüler*innen an der Ausgestaltung wichtiger gesellschaftlicher Herausforderungen wird die Schule zum Ort der gesellschaftlichen Entwicklung.
            Hier finden Sie Zusammenstellung einiger bundesweiter Bildungsprogramme, die ihre Daten für JedeSchule.de bereitstellen.
        </div>
    </div>
</div>
{% endraw %}