<div class="app-wrapper-programs">
	<div class="container">
		{% raw %}
		<div class="container-left-12" ng-controller="ProgramsController">
			<div class="chartist-programs">
				<h5 class="text-center">Anzahl der teilnehmenden Schulen pro Bildungsprogramm</h5>
				<chartist class="ct-chart" chartist-data="chart.data" chartist-chart-options="chart.options" chartist-chart-type="Bar"></chartist>
			</div>
		</div>
		{% endraw %}
		<div class="container-left-12">
			<p>
            <b><a href="http://www.schule-ohne-rassismus.org/startseite/">Schule ohne Rassismus – Schule mit Courage</a></b>
            Eine Initiative von und für Schüler*innen, die sich gegen jede Form von Diskriminierung einsetzt.

            <b><a href="https://www.besmart.info/be-smart/">Be Smart – Don’t Start</a></b>
            Ein bundesweiter Wettbewerb für Schulklassen gegen das Rauchen.

            <b><a href="http://www.bildungscent.de/?gclid=CM_13sGhydICFfMW0wod0b0Jqg">BildungsCent</a></b>
            Der Verein fördert mit vielfältigen Programmen eine neue und nachhaltige Lehr- und Lernkultur an Schulen.

            <b><a href="http://www.nfte.de/">NFTE</a></b>
            Das Network for Teaching Entrepreneurship bildet Lehrer*innen in Entrepreneurship Education aus.

            <b><a href="https://www.fairtrade-schools.de/">Fairtrade-Schools</a></b>
            Die Kampagne verankert das Thema fairer Handel im Schulalltag.

            <b><a href="http://www.seniorpartnerinschool.de/">Seniorpartner in School</a></b>
            Ehrenamtliche Schulmediator*innenen unterstützen Kinder und Jugendliche dabei, Konflikte selbst und gewaltfrei zu lösen.

            <b><a href="http://www.umwelterziehung.de/projekte/umweltschule/">Umweltschule in Europa - Internationale Agenda-21 Schule</a></b>
            Auszeichnung für umweltverträgliche Schulen, an denen Bildung für nachhaltige Entwicklung in Curriculum und Schulleben verankert wird.

            <b><a href="http://www.unesco.de/bildung/ups.html">UNESCO-Projektschulen</a></b>
            Das Netzwerk fördert Schulprofile, die an den Zielsetzungen der UNESCO mitwirken.         
            </p>
            <p>
            Schulen sind entscheidende Orte für die zukunftsfähige Entwicklung der Gesellschaft. Kooperationen sind eines der wichtigsten Merkmale der Entwicklung von Schulen. Viele Schulen nutzen dazu Bildungsprogramme außerschulischer Partner. Hier können die Schüler*innen ihre Potenziale erproben, erfahrungs- und handlungsorientiertes Lernen erfahren und selbst wirksam werden. Themen wie Demokratie, Nachhaltigkeit, Kultur oder Digitalisierung werden in den verschiedenen Kooperationen mit dem Schulleben verschränkt. Über die unmittelbare Beteiligung der Schüler*innen an der Ausgestaltung wichtiger gesellschaftlicher Herausforderungen wird die Schule zum Ort der gesellschaftlichen Entwicklung.
            </p>
            <p>
            Hier finden Sie eine Auswahl einiger bundesweiter Bildungsprogramme, die detaillierte Angaben zu den teilnehmenden Schulen anbieten.
            </p>
		</div>
	</div>
</div>
