<div class="app-wrapper-languages">
	<div class="container">
		{% raw %}
		<div class="container-left-12" ng-controller="ProgramsController">
			<div class="chartist-programs">
				<chartist class="ct-chart" chartist-data="chart.data" chartist-chart-options="chart.options" chartist-chart-type="Bar"></chartist>
				<div class="chartists-footnote">
					Anzahl der teilnehmenden Schulen pro Bildungsprogramm
				</div>
			</div>
		</div>
		{% endraw %}
		<div class="container-left-12">
			Schulen sind entscheidende Orte für die zukunftsfähige Entwicklung der Gesellschaft. Kooperationen sind eines der wichtigsten Merkmale der Entwicklung von Schulen. Viele Schulen nutzen dazu Bildungsprogramme außerschulischer
			Partner. Hier können die Schüler*innen ihre Potenziale erproben, erfahrungs- und handlungsorientiertes Lernen erfahren und selbst wirksam werden. Themen wie Demokratie, Nachhaltigkeit, Kultur oder Digitalisierung werden in den
			verschiedenen Kooperationen mit dem Schulleben verschränkt. Über die unmittelbare Beteiligung der Schüler*innen an der Ausgestaltung wichtiger gesellschaftlicher Herausforderungen wird die Schule zum Ort der gesellschaftlichen
			Entwicklung.
			Hier finden Sie Zusammenstellung einiger bundesweiter Bildungsprogramme, die ihre Daten für JedeSchule.de bereitstellen.
		</div>
	</div>
</div>
