@import '../fonts/worksans/worksans';
@import '../fonts/ostrich-sans/ostrich-sans';
@import '../fonts/fontello/fontello';

.smaller {
  font-size: 0.8em;
}

.bold {
  font-weight: bold;
}

.icon-pull-down {
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 0.2em;
}
.icon-padded:before {
    padding-right: 0.41667em;
}

// Stacked Icons
// -------------------------

.icon-stack {
  position: relative;
  display: inline-block;
  width: 2em;
  height: 2em;
  line-height: 2em;
  vertical-align: middle;
}
.icon-stack-1x, .icon-stack-2x {
  position: absolute;
  left: 0;
  width: 100%;
  text-align: center;
}
.icon-stack-1x { line-height: inherit; }
.icon-stack-2x { font-size: 2em; }
.icon-stack-inverse { color: white; }
