// Padding
$base-padding: 1.25em;
$base-padding-lite: $base-padding / 3;
$base-padding-large: 1.875em;
$base-padding-extra: 3.525em;
$base-padding-jumbo: 3.8em;

// Font Colors
$base-font-color: #131167;
$base-accent-color: #96bc7f;

// Typography
$base-font-family: 'Cabin', 'Helvetica Neue', Helvetica, arial, sans-serif;
$base-font-weight: 400;
$base-font-size: 1rem;
$base-font-multiplier: 1;
$base-line-height: 1.375rem;

$weight-light: 200;
$weight-book: 400;
$weight-bold: 700;

$light-text-color: #363636;
$link-color: #18BE84;
$bus-color: #fc9b2d;
$link-color-subtle: darken($base-font-color, 10%);

$white: #fff;
$gray: #666666;
$dark-gray: #1a1a1a;
$dark-blue: #131167;
$primary-color: #AD1D19;

/*
Hexcodes Logo:
Blau #00aeef
Grau1 #797979
Grau2 #363636

Hexcodes Key visual:
Blau dunkel #00aeef
Blau mittel: #6dcff4
Blau hell: #cdeffb
Grau dunkel: #1a1a1a
Grau mittel: #666666
Grau heller: #333333
*/

$base-button-background-color: #fc704e;
$base-button-color: white;

$base-border-color: $primary-color;
$base-border-radius: 5px;
$small-border-radius: 3px;

$border-grey: #c9c9da;

$form-border-color: $base-border-color;
$form-border-color-hover: darken($base-border-color, 10);
$form-border-radius: $base-border-radius;
$form-box-shadow-focus: 0 0 0 2px $form-border-color-hover;

$container-grey: #f1f3f6;

$footer-background-color: #17116a;

$chart-color1: #61B861;
$chart-color2: #FFCC9A;
$chart-color3: #C2D5EE;
$chart-color4: #FF9F4A;
$chart-color5: #5799C7;
$chart-color6: #AF8DCE;
$chart-color7: #5799C7;
$chart-color8: #a7ccd8;
$chart-color9: #d17905;
$chart-color10: #b2c326;
$chart-color11: #93868a;
$chart-color12: #f0e2a1;
$chart-color13: #a16a76;

$chart-color0: #ececec; //use for "disabled"
$chart-color-pie: #a7ccd8;

$chart-colors: $chart-color1, $chart-color2, $chart-color3, $chart-color4, $chart-color5, $chart-color6,
$chart-color7, $chart-color8, $chart-color9, $chart-color10, $chart-color11, $chart-color12,$chart-color13;
