<footer>
	<div class="container">
		<div class="container-left-12 footer-container-left">
			<div>
				<div class="footer-logo-container">
					<h4>Ein Projekt von</h4>
					<div class="footer-logo">
						<a href="https://okfn.de" target="_blank"><img alt="OKF DE" src="/assets/img/logo_okfde_black.png"></a>
					</div>
				</div>
				<div class="footer-logo-container">
					<div class="footer-logo">
						<a href="http://www.bildungscent.de/" target="_blank"><img alt="Bildungscent e.V." src="/assets/img/logo_bildungscent.jpg"></a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="container-left-12 footer-text-container">
			<h4>Kontakt</h4>
			<p>
				tbd
			</p>
		</div>
	</div>
	<div class="container">
		<div class="container-left-12 footer-credits">Die Inhalte dieser Webseite sind, sofern nicht anders angegeben,
			nach <a href="https://creativecommons.org/licenses/by/3.0/de/">Creative Commons 3.0 Attribution</a> lizensiert.</div>
		<div><a href="#top"><i class="icon-up-circled"></i>Nach oben</a></div>
	</div>
</footer>
