<footer>
	<div class="container">
		<div class="container-left-6 footer-container-left">
			<div class="container">
				<div class="footer-container-left-12">
					<p>Ein Projekt von</p>
					<div class="footer-logo-container">
						<div class="footer-logo">
							<a href="http://www.bildungscent.de/"><img alt="Bildungscent" src="/assets/img/logo_bildungscent.jpg"></a>
						</div>
					</div>
					<div class="footer-logo-container">
						<div class="footer-logo">
							<a href="https://datenschule.de" target="_blank"><img alt="Datenschule" src="/assets/img/logo_datenschule.png"></a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="container-left-3 footer-text-container">
			<p class="bold">Newsletter abonnieren</p>
			<p>Melde dich für den Datenschule
				<a href="http://okfn.us5.list-manage.com/subscribe?u=929f1e07936386d34833e20d1&id=57affeefd3" target="_blank">Newsletter</a>
				an.
			</p>
			<p>Melde dich für den BildungsCent e.V. <a href="http://www.bildungscent.de/kontakt-newsletter/kontakt-newsletter/" target="_blank">Newsletter</a>
				an.
			</p>
		</div>
		<div class="container-left-3 footer-text-container">
			<p>
				<a href="/daten">Daten</a>
			</p>
			<p>
				<a href="/presse">Presse und Kontakt</a>
			</p>
			<p>
				<a href="/projekte">weitere Schuldatenprojekte</a>
			</p>
		</div>
	</div>
	<div class="container">
		<div class="container-left-12 footer-container-left">
			<div class="container-left-6 footer-container-left">
				<p>Datenschule ist ein Projekt von</p>
				<div class="footer-logo-container">
					<div class="footer-logo">
						<img alt="OKF DE" src="/assets/img/logo_okfde.png">
					</div>
				</div>
			</div>
			<div class="container-left-6 footer-container-left">
				<p>
					<a href="/impressum">Impressum</a>
				</p>
			</div>
		</div>
	</div>

	<div class="container">
		<div class="container-left-12 footer-credits">
			Die Inhalte dieser Webseite sind, sofern nicht anders angegeben, nach
			<a href="https://creativecommons.org/licenses/by/3.0/deed.de" target="_blank">Creative Commons 3.0 Attribution</a>
			lizensiert. Coded with <3 by Datenschule. Wir bedanken uns für die technische Unterstützung bei
			Knut Hühne, Sebastian Berchtold und bei Nadine Stammen für das Design.
		</div>
		<a href="#top"><i class="icon-up-circled"></i>nach oben</a>
	</div>
</footer>