<footer>
	<div class="container">
		<div class="container-left-6 footer-container-left">
			<div class="container">
				<div>
					<p>Ein Projekt von</p>
				</div>
				<div class="footer-container-left-12">
					<div class="footer-logo-container">
						<div class="footer-logo footer-logo-bc">
							<a href="http://www.bildungscent.de/"><img alt="Bildungscent" src="/assets/img/logos/logo_bildungscent.png"></a>
						</div>
					</div>
					<div class="footer-logo-container">
						<div class="footer-logo">
							<a href="https://datenschule.de" target="_blank"><img alt="Datenschule" src="/assets/img/logos/logo_datenschule.png"></a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="container-left-3 footer-text-container">
			<p class="bold">Newsletter abonnieren</p>
			<p>Melden Sie sich für den BildungsCent e.V. <a href="http://www.bildungscent.de/kontakt-newsletter/kontakt-newsletter/" target="_blank">Newsletter</a>
				an.
			</p>
			<p>Melden Sie sich für den Datenschule
				<a href="http://okfn.us5.list-manage.com/subscribe?u=929f1e07936386d34833e20d1&id=57affeefd3" target="_blank">Newsletter</a>
				an.
			</p>
		</div>
		<div class="container-left-3 footer-text-container">
			<p>
				<a href="/presse">Presse und Kontakt</a>
			</p>
			<p>
				<a href="/schulprofile">Schulprofile</a>
			</p>
			<p>
				<a href="/projekte">weitere Schuldatenprojekte</a>
			</p>
		</div>
	</div>
	<div class="container">
		<div class="container-left-12 footer-container-left">
			<div class="container-left-6 footer-container-left">
				<p>Datenschule ist ein Projekt von</p>
				<div class="footer-logo">
					<a href="https://okfn.de"><img alt="OKF DE" src="/assets/img/logos/logo_okfde.png"></a>
				</div>
			</div>
			<div class="container-left-6 footer-container-left">
				<p>
					<a class="pull-right" href="#top"><i class="fa fa-arrow-circle-o-up"></i>nach oben</a>
					<a href="https://okfn.de/impressum/">Impressum</a> / <a href="https://okfn.de/impressum/#datenschutzerkl%C3%A4rung">Datenschutzerklärung</a>
				</p>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="container-left-12 footer-credits">
			Die Inhalte dieser Webseite sind, sofern nicht anders angegeben, nach
			<a href="https://creativecommons.org/licenses/by/3.0/deed.de" target="_blank">Creative Commons 3.0 Attribution</a>
			lizensiert. <br/>
			Coded with <3 by Datenschule. Wir bedanken uns für die technische Unterstützung bei
			Knut Hühne, Sebastian Berchtold und bei Nadine Stammen für das Design.
		</div>

	</div>
</footer>
