<header id="top" class="navigation" role="banner">
	<div class="navigation-wrapper">
		<a href="{{ site.baseurl }}/" class="logo">
			<img class="header-logo-img" title="JedeSchule.de" alt="JedeSchule.de Logo" src="/assets/img/logos/logo_jedeschule.png">
			<div class="header-title">JedeSchule.de</div>
		</a>
		<a href="javascript:void(0)" class="navigation-menu-button" id="js-mobile-menu"><i class="fa fa-bars"></i> MENU</a>
		<nav role="navigation">
			<ul id="js-navigation-menu" class="navigation-menu show">
				<li class="nav-link{% if page.menu_schulen %} active{% endif %}"><a href="{{ site.baseurl }}/schulen">Schulen</a></li>
				<li class="nav-link{% if page.menu_aktionen %} active{% endif %}"><a href="{{ site.baseurl }}/schulaktivitaeten">Schulaktivitäten</a></li>
				<li class="nav-link{% if page.menu_laender %} active{% endif %}"><a href="{{ site.baseurl }}/schulsystem">Schulsystem</a></li>
				<li class="nav-link{% if page.menu_daten %} active{% endif %}"><a href="{{ site.baseurl }}/daten">Daten</a></li>
			</ul>
		</nav>
	</div>
</header>