<header id="top">
	<div class="container-outer">
		<div class="header-logo">
			<a class="header-logo-name" href="{{ site.baseurl }}/">
				<img class="header-logo-img" title="jedeschule.de" alt="jedeschule.de" src="/assets/img/logo_jedeschule.png">
				jedeschule.de
			</a>
		</div>
		<div class="header-nav">
			<ul class="nav navbar-nav navbar-right">
				<li{% if page.menu_schulen %} class="active"{% endif %}><a href="{{ site.baseurl }}/schulen">Schulen</a></li>
				<li{% if page.menu_aktionen %} class="active"{% endif %}><a href="{{ site.baseurl }}/aktionen">Schulaktivitäten</a></li>
				<li{% if page.menu_laender %} class="active"{% endif %}><a href="{{ site.baseurl }}/schulbildung">Schulsystem</a></li>
			</ul>
		</div>
	</div>
</header>
