<header id="top">
	<div class="container">
		<div class="header-logo">
			<a class="header-logo-name" href="{{ site.baseurl }}/"><h1>jedeschule.de</h1></a>
		</div>
		<div class="header-nav">
			<ul class="nav navbar-nav navbar-right">
				<li{% if page.menu_schulen %} class="active"{% endif %}><a href="{{ site.baseurl }}/schulen">Schulen</a></li>
				<li{% if page.menu_laender %} class="active"{% endif %}><a href="{{ site.baseurl }}/laender">Länder</a></li>
				<li{% if page.menu_aktionen %} class="active"{% endif %}><a href="{{ site.baseurl }}/aktionen">Aktionen</a></li>
			</ul>
		</div>
	</div>
</header>
