{% if page.js_schulen %}
<script src="/assets/vendor/jquery/dist/jquery.min.js"></script>
<script src="/assets/vendor/lodash/dist/lodash.min.js"></script>
<script src="/assets/vendor/leaflet/dist/leaflet.js"></script>
<script src="/assets/vendor/leaflet.markercluster/dist/leaflet.markercluster.js"></script>
<script src="/assets/vendor/angular/angular.min.js"></script>
<script src="/assets/vendor/angular-animate/angular-animate.min.js"></script>
<script src="/assets/vendor/angular-sanitize/angular-sanitize.min.js"></script>
<script src="/assets/vendor/angular-ui-select/dist/select.min.js"></script>

<script src="/assets/js/app/app-map.js"></script>
<script src="/assets/js/app/filter/propsFilter.js"></script>
<script src="/assets/js/app/services/schoolsService.js"></script>
<script src="/assets/js/app/controller/mapController.js"></script>
{% endif %}

{% if page.js_aktivitaten %}
<script src="/assets/vendor/chartist/dist/chartist.min.js"></script>
<script src="/assets/vendor/chartist-plugin-tooltip/dist/chartist-plugin-tooltip.js"></script>
<script src="/assets/vendor/angular/angular.min.js"></script>
<script src="/assets/vendor/angular-animate/angular-animate.min.js"></script>
<script src="/assets/vendor/angular-sanitize/angular-sanitize.min.js"></script>
<script src="/assets/vendor/angular-chartist.js/dist/angular-chartist.min.js"></script>
<script src="/assets/vendor/d3/d3.min.js"></script>
<script src="/assets/js/lib/d3-sankey.js"></script>

<script src="/assets/js/app/app-chartist.js"></script>
<script src="/assets/js/app/directives/sankey-chart.js"></script>
<script src="/assets/js/app/services/activitiesService.js"></script>
<script src="/assets/js/app/services/partnershipsService.js"></script>
<script src="/assets/js/app/services/programsService.js"></script>
<script src="/assets/js/app/controller/activitiesController.js"></script>
<script src="/assets/js/app/controller/partnerController.js"></script>
<script src="/assets/js/app/controller/programsController.js"></script>
{% endif %}

{% if page.js_laender %}
<script src="/assets/vendor/lodash/dist/lodash.min.js"></script>
<script src="/assets/vendor/d3/d3.min.js"></script>
<script src="/assets/vendor/chartist/dist/chartist.min.js"></script>
<script src="/assets/vendor/chartist-plugin-tooltip/dist/chartist-plugin-tooltip.js"></script>
<script src="/assets/vendor/chartist-plugin-axistitle/dist/chartist-plugin-axistitle.min.js"></script>
<script src="/assets/js/lib/chartist-bar-labels.js"></script>
<script src="/assets/vendor/angular/angular.min.js"></script>
<script src="/assets/vendor/angular-animate/angular-animate.min.js"></script>
<script src="/assets/vendor/angular-sanitize/angular-sanitize.min.js"></script>
<script src="/assets/vendor/angular-chartist.js/dist/angular-chartist.min.js"></script>
<script src="/assets/vendor/chartist-plugin-legend/chartist-plugin-legend.js"></script>


<script src="/assets/js/app/app-chartist.js"></script>
<script src="/assets/js/app/services/statesService.js"></script>
<script src="/assets/js/app/controller/schoolkindsController.js"></script>
<script src="/assets/js/app/controller/foreignLanguagesController.js"></script>
<script src="/assets/js/app/controller/financeReportController.js"></script>
<script src="/assets/js/app/controller/teacherRatioController.js"></script>
{% endif %}

{% if page.js_schoolprofile %}
<script src="/assets/vendor/lodash/dist/lodash.min.js"></script>
<script src="/assets/vendor/leaflet/dist/leaflet.js"></script>
<script src="/assets/vendor/chartist/dist/chartist.min.js"></script>
<script src="/assets/vendor/chartist-plugin-tooltip/dist/chartist-plugin-tooltip.js"></script>
<script src="/assets/vendor/chartist-plugin-axistitle/dist/chartist-plugin-axistitle.min.js"></script>
<script src="/assets/vendor/angular/angular.min.js"></script>
<script src="/assets/vendor/angular-animate/angular-animate.min.js"></script>
<script src="/assets/vendor/angular-sanitize/angular-sanitize.min.js"></script>
<script src="/assets/vendor/angular-chartist.js/dist/angular-chartist.min.js"></script>

<script src="/assets/js/app/app-chartist.js"></script>
<script src="/assets/js/app/filter/isEmptyFilter.js"></script>
<script src="/assets/js/app/services/schoolsService.js"></script>
<script src="/assets/js/app/controller/schoolProfileController.js"></script>
{% endif %}

{% if page.js_schoolprofiles %}
<script src="/assets/vendor/lodash/dist/lodash.min.js"></script>
<script src="/assets/vendor/angular/angular.min.js"></script>
<script src="/assets/vendor/angular-animate/angular-animate.min.js"></script>
<script src="/assets/vendor/angular-sanitize/angular-sanitize.min.js"></script>
<script src="/assets/vendor/angular-smart-table/dist/smart-table.min.js"></script>

<script src="/assets/js/app/app-table.js"></script>
<script src="/assets/js/app/services/schoolsService.js"></script>
<script src="/assets/js/app/filter/uniqueFilter.js"></script>
<script src="/assets/js/app/controller/profileSchoolsController.js"></script>
{% endif %}
