<script src="/assets/js/lib/leaflet.js"></script>
<script src="/assets/js/lib/leaflet.markercluster.js"></script>
<!--<script src="/assets/js/lib/jquery-3.1.1.min.js"></script>-->
<script src="/assets/js/lib/angular.min.js"></script>
<script src="/assets/js/lib/angular-animate.min.js"></script>
<script src="/assets/js/lib/angular-sanitize.js"></script>
<script src="/assets/js/lib/select.min.js"></script>
<script src="/assets/js/lib/angular-chartist.js"></script>
<script src="/assets/js/lib/d3.min.js"></script>

<!-- Angular App -->
<script src="/assets/js/app/app.js"></script>

<!-- Directives -->
<script src="/assets/js/app/directives/bar-chart.js"></script>
<script src="/assets/js/app/directives/multi-line-chart.js"></script>
<script src="/assets/js/app/directives/stacked-bar-chart.js"></script>
<script src="/assets/js/app/directives/treemap.js"></script>

<!-- Controllers -->
<script src="/assets/js/app/controller/mapController.js"></script>
<script src="/assets/js/app/controller/financeReportController.js"></script>
<script src="/assets/js/app/controller/schookindsController.js"></script>
<script src="/assets/js/app/controller/foreignLanguagesController.js"></script>
<script src="/assets/js/app/controller/schoolProfileController.js"></script>

