{% raw %}
<div class="app-wrapper" ng-controller="SchoolkindsController">
    <div class="button-group">
        <label>
            <input type="radio" name="button-group" value="item">
            <span class="button-group-item">2007</span>
        </label>
        <label>
            <input type="radio" name="button-group" value="other-item">
            <span class="button-group-item">2008</span>
        </label>
        <label>
            <input type="radio" name="button-group" value="other-item">
            <span class="button-group-item">2009</span>
        </label>
        <label>
            <input type="radio" name="button-group" value="third">
            <span class="button-group-item">2010</span>
        </label>
        <label>
            <input type="radio" name="button-group" value="third">
            <span class="button-group-item">2011</span>
        </label>
        <label>
            <input type="radio" name="button-group" value="third">
            <span class="button-group-item">2012</span>
        </label>
        <label>
            <input type="radio" name="button-group" value="third">
            <span class="button-group-item">2013</span>
        </label>
        <label>
            <input type="radio" name="button-group" value="third">
            <span class="button-group-item">2014</span>
        </label>
        <label>
            <input type="radio" name="button-group" value="third">
            <span class="button-group-item">2015</span>
        </label>
        <label>
            <input type="radio" name="button-group" value="third" checked>
            <span class="button-group-item">2016</span>
        </label>
    </div>
    <div id="wrapper" style="padding-top:4em;"></div>
    <barchart data="data" caption="categories" colors="colors"></barchart>
</div>
{%endraw %}