---
layout: default
menu_laender: yes
title: OKF Datenschule
description: Tue Gutes mit Daten
---
<div class="container">
    <div class="container-left-12">
        <div class="box box-with-head box-margin-top-medium">
            <h1 class="box-head">Introtext Länder</h1>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab accusantium aspernatur consequatur dicta,
                ducimus eligendi esse, eveniet ex fugiat, incidunt labore laudantium minima modi omnis provident quas
                quidem quod rerum saepe voluptatum. Animi aperiam architecto beatae distinctio dolores eaque facere,
                fugit illum iure molestiae placeat provident quibusdam tempore totam ullam!
            </p>
        </div>
    </div>
</div>
<div class="container">
    <div class="container-left-6">
        {% include svg/germany-topo.svg %}
    </div>
    <div class="container-left-6">
        <div class="box box-with-head box-margin-top-medium">
            <h1 class="box-head">Länder</h1>
            <ul>
                {% for state in  site.laender %}
                    <li><a href="{{state.link}}">{{state.name}}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>