@font-face {
  font-family: 'OstrichSansRounded';
  src: url('fonts/ostrich-sans/ostrich-sans-rounded.eot');
  src: url('fonts/ostrich-sans/ostrich-sans-rounded.eot?#iefix') format('embedded-opentype'),
  url('fonts/ostrich-sans/ostrich-sans-rounded.woff') format('woff'),
  url('fonts/ostrich-sans/ostrich-sans-rounded.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}