---
layout: default
menu_aktionen: yes
title: OKF Datenschule
description: Tue Gutes mit Daten
---
<main ng-app="App">
    <section class="container-outer container-bgi-green">
        <div class="container-padded">
            <div class="container">
                <div class="container-left-8">
                    <h1>Schulaktivitäten</h1>
                    <p>Schule ist weit mehr als nur Unterricht. Potenziale, Persönlichkeit und das Engagement für die
                        Gesellschaft entwickeln sich vorwiegend außerhalb des Regelbetriebs. Viele Schulen bieten ihren
                        Schüler*innen deshalb ganz unterschiedliche zukunftsfähige Projekte zu Themen wie Digitalisierung,
                        neue Arbeitswelten, Klimaschutz oder Demokratie an, die sie gemeinsam mit Partnerorganisationen
                        aus Politik, Zivilgesellschaft und Wirtschaft umsetzen.
                    </p>
                    <p>
                        Oftmals werden diese Aktivitäten in der öffentlichen Debatte nicht thematisiert. Für alle
                        allgemeinbildenden Schulen in Berlin und Sachsen haben wir deshalb diese Informationen aufbereitet.
                        Detaillierte Aktivitäten und Partner der jeweiligen Schulen finden Sie auf den
                        <a href="http://127.0.0.1:4000/schulen/#!?full_time_schools=false&lat=51.699799849741936&lng=13.073730468750002&zoom=7&school_profiles">Schulprofilen</a>
                        der zwei Bundesländer.
                    </p>
                </div>
            </div>
        </div>
    </section>
    <section class="container-outer">
        <div class="container-padded">
            <div class="container">
                <div class="container-left-12">
                    <h2 class="text-center">Arbeitsgemeinschaften Berlin</h2>
                </div>
                <div class="container-left-12">
                    {% include aktionen/ag.html name='berlin' %}
                </div>
            </div>
        </div>
    </section>
    <section class="container-outer">
        <div class="container-padded">
            <div class="container">
                <div class="container-left-12">
                    <h2 class="text-center">Partner Berlin</h2>
                </div>
                <div class="container-left-12">
                    {% include aktionen/partner.html name='berlin' %}
                </div>
            </div>
        </div>
    </section>
    <section class="container-outer">
        <div class="container-padded">
            <div class="container">
                <div class="container-left-12">
                    <h2 class="text-center">Arbeitsgemeinschaften Sachsen</h2>
                </div>
                <div class="container-left-12">
                    {% include aktionen/ag.html name='sachsen' %}
                </div>
            </div>
        </div>
    </section>
    <section class="container-outer">
        <div class="container-padded">
            <div class="container">
                <div class="container-left-12">
                    <h2 class="text-center">Partner Sachsen</h2>
                </div>
                <div class="container-left-12">
                    {% include aktionen/partner.html name='sachsen' %}
                </div>
            </div>
        </div>
    </section>
    <section class="container-outer">
        <div class="container-padded">
            <div class="container">
                <div class="container-left-12">
                    <h2 class="text-center">Wettbewerbe und Programme</h2>
                </div>
                <div class="container-left-12">
                    {% include aktionen/programs.html %}
                </div>
            </div>
        </div>
    </section>
</main>