---
layout: default
menu_aktionen: yes
title: OKF Datenschule
description: Tue Gutes mit Daten
---
<div class="container" ng-app="App">
    <div class="container-left-12">
        <div class="box box-with-head box-margin-top-medium">
            <h1 class="box-head">Wettbewerbe & Programme</h1>
            {% include aktionen/programs.html state=page.name %}
        </div>
    </div>
    <div class="container-left-12">
        <div class="box box-with-head box-margin-top-medium">
            <h1 class="box-head">AG Berlin</h1>
            {% include aktionen/ag.html name='berlin' %}
        </div>
    </div>
    <div class="container-left-12">
        <div class="box box-with-head box-margin-top-medium">
            <h1 class="box-head">Partner Berlin</h1>
            {% include aktionen/partner.html name='berlin' %}
        </div>
    </div>
    <div class="container-left-12">
        <div class="box box-with-head box-margin-top-medium">
            <h1 class="box-head">AG Sachsen</h1>
            {% include aktionen/ag.html name='sachsen' %}
        </div>
    </div>
    <div class="container-left-12">
        <div class="box box-with-head box-margin-top-medium">
            <h1 class="box-head">Partner Sachsen</h1>
            {% include aktionen/partner.html name='sachsen' %}
        </div>
    </div>
</div>