@font-face {
  font-family: Cabin;
  src: url('fonts/Cabin/cabin-regular.ttf');
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: Cabin;
  src: url('fonts/Cabin/cabin-italic.ttf');
  font-style: italic;
  font-weight: 400;
}

@font-face {
  font-family: Cabin;
  src: url('fonts/Cabin/cabin-medium.ttf');
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: Cabin;
  src: url('fonts/Cabin/cabin-medium-italic.ttf');
  font-style: italic;
  font-weight: 500;
}

@font-face {
  font-family: Cabin;
  src: url('fonts/Cabin/cabin-semi-bold.ttf');
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: Cabin;
  src: url('fonts/Cabin/cabin-semi-bold-italic.ttf');
  font-style: italic;
  font-weight: 600;
}

@font-face {
  font-family: Cabin;
  src: url('fonts/Cabin/cabin-bold.ttf');
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: Cabin;
  src: url('fonts/Cabin/cabin-bold-italic.ttf');
  font-style: italic;
  font-weight: 700;
}