form {
  text-align: left;
}

fieldset {
  border-top: 1px solid $base-border-color;
  padding-bottom: $base-padding;

  > fieldset {
    border-top: none;
  }
}

legend {
  @extend .sr-only;
}

input,
label,
select {
  display: block;
}

label {
  color: $base-font-color;
  margin-bottom: $base-line-height / 4;

  &.required:after {
    content: '*';
  }

  abbr {
    display: none;
  }
}

textarea,
#{$all-text-inputs},
select[multiple=multiple] {
  font-size: $base-font-size;

  @include placeholder {
    color: $base-font-color;
    font-weight: $weight-book;
    opacity: 1;
  }

  @include transition(border-color);

  background-color: $white;
  border: 1px solid $form-border-color;
  border-radius: $form-border-radius;
  box-shadow: none;
  box-sizing: border-box;
  margin-bottom: $base-padding;
  padding: 0.6em 0.8em;
  width: 100%;

  &:hover {
    border-color: $form-border-color-hover;
  }

  &:focus {
    outline: none;
  }
}

textarea {
  resize: vertical;
}

input[type='search'] {
  @include appearance(none);
}

input[type='file'] {
  margin-bottom: $base-line-height / 2;
  padding-bottom: ($base-line-height / 3);
  width: 100%;
}

select {
  @include appearance(none);
  display: inline-block;
  width: auto;

  background-color: $white;
  background-position: 99% 50%;
  background-repeat: no-repeat;
  background-size: 2rem;
  border: 1px solid $form-border-color;
  border-radius: $form-border-radius;
  color: $base-font-color;
  font-weight: $weight-light;
  margin-bottom: 1em;
  overflow: hidden;
  padding: 0.5em 2.2rem 0.5em 0.8rem;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;

  &:focus {
    border: 1px solid $white;
    box-shadow: $form-box-shadow-focus;
    outline: none;
  }

  &::-ms-expand {
    display: none;
  }
}

select.select:after {
  content: "\f107";
  font-family: fontello;
  color: #000;
  padding: 12px 8px;
  margin-left: -40px;
  right: 0;
  top: 0;
  z-index: 1;
  text-align: center;
  width: 10%;
  height: 100%;
  pointer-events: none;
  box-sizing: border-box;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}
