h1,
.h1 {
  @include heading(h1);
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  //margin-bottom: 5rem;
  margin-top: 1em;
}

h2,
.h2 {
  @include heading(h2);
  text-transform: uppercase;
  font-size: 35px;
  margin-bottom: 70px;
}

h3,
.h3 {
  @include heading(h3);
  width: 100%;
  position: relative;
  overflow: hidden;
  text-align: center;

  span {
    display: inline-block;
    vertical-align: baseline;
    zoom: 1;
    *display: inline;
    *vertical-align: auto;
    position: relative;
    padding: 0 20px;
    text-transform: uppercase;

    &:before, &:after {
      content: '';
      display: block;
      width: 1000px;
      position: absolute;
      top: 0.73em;
      border-top: 1px solid $border-grey;
    }

    &:before {
      right: 100%;
    }
    &:after {
      left: 100%;
    }
  }
}

h4,
.h4 {
  @include heading(h4);
  font-size: 25px;
  font-weight: bold;
}

h5,
.h5 {
  @include heading(h5);
}

.para-xl {
  @include heading('para-xl');
}

// default p
p,
ol,
ul,
.para-lg {
  @include heading('para-lg');
}

.para-md {
  @include heading('para-md');
}

.para-sm {
  @include heading('para-sm');
}

p + h2,
p + .h2,
p + h3,
p + .h3,
p + h4,
p + .h4,
table + h3,
table + .h3,
ul + h2,
ul + .h2,
ul + h3,
ul + .h3 {
  margin-top: $base-padding-large;
}

small {
  font-size: 0.8em;
}

i {
  font-style: italic;
}