h1,
.h1 {
  @include heading(h1);
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 5rem;
}

h2,
.h2 {
  @include heading(h2);
  text-transform: uppercase;
  font-size: 35px;
}

h3,
.h3 {
  @include heading(h3);
  width: 100%;
  text-align: center;
  border-bottom: 1px solid $border-grey;
  line-height: 0.1em;
  margin: 10px 0 20px;

  span {
    background:#fff;
    padding:0 10px;
    font-size: 20px;
    text-transform: uppercase;
  }
}

h4,
.h4 {
  @include heading(h4);
  font-size: 25px;
  font-weight: bold;
}

h5,
.h5 {
  @include heading(h5);
}

.para-xl {
  @include heading('para-xl');
}

// default p
p,
ol,
ul,
.para-lg {
  @include heading('para-lg');
}

.para-md {
  @include heading('para-md');
}

.para-sm {
  @include heading('para-sm');
}

p + h2,
p + .h2,
p + h3,
p + .h3,
p + h4,
p + .h4,
table + h3,
table + .h3,
ul + h2,
ul + .h2,
ul + h3,
ul + .h3 {
  margin-top: $base-padding-large;
}

small {
  font-size: 0.8em;
}

i {
  font-style: italic;
}