.button {
  background-color: $dark-blue;
  border-radius: 100px;
  padding: 10px 20px;
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: normal;
  white-space: nowrap;
}

.buttongroup {
  line-height: 3.5;
}