.filter-wrapper {
  margin-bottom: 20px;
}

.filter {
  display: inline-block;
  width: 100%;
  margin-bottom: 10px;
  @include respond-to(small-up) {
    width: 49%;
    padding-right: 20px;
  }
  @include respond-to(medium-up) {
    width: 33%;
  }
  p {
    margin: 0;
  }

  input {
    display: inline;
    background-color: #ffffff;
  }

  input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    font-size: 13px;
    color: lightgray;
  }

  input:-ms-input-placeholder { /* IE 10+ */
    font-size: 13px;
    color: lightgray;
  }

  input::-moz-placeholder { /* Firefox 19+ */
    font-size: 13px;
    color: lightgray;
  }

  input:-moz-placeholder { /* Firefox 18- */
    font-size: 13px;
    color: lightgray;
  }

  .shadow {
    -moz-box-shadow: inset 0 0 2px #000000;
    -webkit-box-shadow: inset 0 0 2px #000000;
    box-shadow: inset 0 0 2px #000000;
  }

  .search {
    line-height: 2;
  }

  //input::-webkit-input-placeholder {
  //  color:red;
  //}
  //
  //::-moz-placeholder {
  //  color:red;
  //}
  //
  //::-ms-placeholder {
  //  color:red;
  //}
  //
  //::placeholder {
  //  color:red;
  //}
}

.filter-input-wrapper {
  width: 100%;
  .input-prepend {
    top: 2px;
    padding-left: 4px;
    font-size: 0.8em;
    color: #666;
    position: absolute;
  }
  .input-prepended:before {
    display: none;
  }
  .input-prepended {
    width: 100%;
    padding-left: 22px !important;
  }
}

.checkbox-label {
  display: inline-block;
}