footer {
  background-color: $footer-background-color;
  padding-top: 10px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  color: white;

  a {
    color: white !important; //mobile safari important bug
  }

  h4 {
    margin: 0;
    font-size: 1em;
    line-height: 1em;
    font-weight: bold;
    color: white;
  }

  p {
    font-size: 1em;
    margin-top: 14px;
    margin-bottom: 0;
    color: white;
    padding: 5px;
  }

  .footer-container-left {
    padding-bottom: 0;
    margin-bottom: 0;
  }

  .footer-text-container {
    margin-bottom: 0;
  }

  .footer-socials {
    margin-top: 8px;
  }

  .footer-social {
    border: 2px solid $base-border-color;
    border-radius: 100%;
    display: inline-block;
    font-size: 18px;
    line-height: 40px;
    text-align: center;
    height: 44px;
    width: 44px;
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    color: black;
    transition: all 0.3s ease-in-out 0s;
    &:hover, &:focus, &:active, &.active {
      background: lighten($base-border-color, 25%) none repeat scroll 0 0;
      border: 2px solid $base-border-color;
    }
  }

  .footer-credits {
    text-align: center;
    font-size: 0.8em;
    padding-left: 0;
    padding-right: 0;
  }

  .footer-logo-container {
    display: inline-block;
    float: left;
  }
  .footer-logo {
    display: inline-block;
    text-align: center;
    padding: 15px;
    background-color: darken($footer-background-color, 2%);
    border-radius: 10px;
    min-height: 91px;
    margin: 6px 20px 20px 0;
    img {
      width: 220px;
      height: auto;
      transition: all 0.3s ease-in-out 0s;
    }
  }

  .footer-logo-bc {
    img {
      margin-top: 19px
    }
  }

  @include respond-to(small-up) {
    .footer-logo-container {
      width: 50%;
    }
    .footer-credits {
      padding: 0;
    }
  }

  @include respond-to(medium-up) {
    .footer-logo-container {
      width: auto;
    }

    .footer-socials {
      display: inline-block;
    }
  }
  @include respond-to(large-up) {
    .footer-logo-container {
      width: 50%;
    }

  }

}
