.box-keyvisual {
  width: 100%;
  height: auto;
  margin-top: 20px;
  svg {
    width: 100%;
    max-width: 1024px;
    height: auto;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 40px;
    border: 1px solid #f9f9f9;
    overflow: visible;
  }
}
