$height: 38rem;

#map-container {
  border: 1px solid #666;
  margin-bottom: 40px;
}

#map, #map-container, .overlay {
  height: $height;
  z-index: 10;
  position: relative;
}

#map, .overlay{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

#map {
  background-color: white;
}

.overlay{
  z-index: 1000;
  background: rgba(10, 10, 10, 0.4);
  text-align: center;
  padding-top: 20%;
  font-size: 4em;
}


#slider {
  //position: absolute;
  //width: 15em;
  //height: 38rem;
  //background: blue;
  //#transform: translateX(-100%);
  //#-webkit-transform: translateX(-100%);
  z-index: 20;
  max-height: $height;
  overflow-y: auto;
}

.animate-hide {
  -webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
  -moz-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
  -o-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
  transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
  line-height:20px;
  opacity:1;
  padding:10px;
  border:1px solid black;
  background:white;
  position: absolute;
}

.animate-hide.ng-hide {
  left: -100%;
  opacity:0;
  padding:0 10px;
}

.mapSearchBox {
  input {
    font-size: 1.5em;
  }
}

.map-info {
  margin: 30px 30px 0 30px;
}
