$height: 38rem;

#map-container {
  border: 1px solid #666;
  margin-bottom: 20px;
  height: $height;
  z-index: 10;
  position: relative;
  margin-right: 20px; // leave mobile users some space to scroll despite of map

  @include respond-to(medium-up) {
    margin-right: 0;
  }
}

#map {
  z-index: 10;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: white;
}

.overlay {
  z-index: 1000;
  background: rgba(10, 10, 10, 0.4);
  text-align: center;
  padding-top: 20%;
  font-size: 4em;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

#slider {
  border: 2px solid $popup-border-color;
  border-radius: 3px;
  margin-top: 10px;
  margin-left: 10px;
  z-index: 20;
  max-height: $height;
  max-width: 75%;
  overflow-y: auto;
  padding-bottom: 5px;
}

.map-info {
  margin: 10px 20px 0;

  h4 {
    margin-top: 0;
  }

  .close-button {
    float: right;
    margin-right: -10px;
    //margin-top: -10px;
    cursor: pointer;
    color: $popup-border-color;
    &:hover {
      color: lighten($popup-border-color, 20%);
    }
  }
}

.animate-hide {
  -webkit-transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
  -moz-transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
  -o-transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
  transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
  line-height: 20px;
  opacity: 1;
  padding: 10px;
  border: 1px solid black;
  background: white;
  position: absolute;
}

.animate-hide.ng-hide {
  left: -100%;
  opacity: 0;
  padding: 0 10px;
}

.map-source {
  font-size: 0.9em;
}

.map-legend {
  font-size: 0.9em;
  > div {
    display: inline-block;
    margin-left: 10px;
  }
  .map-legend-color {
    display: inline-block;
    height: 10px;
    width: 10px;
  }
}
