.pie-wrapper {
  display:flex;
  flex-wrap: wrap;
}

.pie {
  position: relative;
  line-height: 100px;
  border-radius: 50%;
  background: #f1f3f6;
  background-image: linear-gradient(to right, transparent 50%, #3dd7ff 0);
  color: transparent;
  text-align: center;
  width: 5em;
  height: 5em;
  margin: auto;
}

@keyframes spin {
  to { transform: rotate(.5turn); }
}
@keyframes bg {
  50% { background: #3dd7ff; }
}

.pie::before {
  content: '';
  position: absolute;
  top: 0; left: 50%;
  width: 50%; height: 100%;
  border-radius: 0 100% 100% 0 / 50%;
  background-color: inherit;
  transform-origin: left;
  animation: spin 50s linear infinite,
  bg 100s step-end infinite;
  animation-play-state: paused;
  animation-delay: inherit;
}

.pie-caption {
  font-size: 10pt;
  text-align: center;
  line-height: 1.5;
}

.pie-container {
  display: inline-block;
  width: 7em;
  vertical-align:top;
  margin: 1rem 1rem;
  flex: 1;
  align-self:flex-end;
}