
.post-previews {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  text-align: center;
  width: 100%;
  justify-content: space-between;
  flex-direction: row;

  .post-preview {
    display: flex;
    flex-grow: 1;
    margin: 5px;
    border: solid 3px $base-border-color;
  }

  .subtle-section {
    width: 100%;
    margin: 10px 0 0;
    text-align: left;
  }

  .post-preview-right {
    .subtle-section {
      text-align: right;
    }
  }
  p, h4 {
    margin: 0;
  }

  .post-preview-head {
    border: solid 3px $base-border-color;
    background-color: white;
    position: absolute;
    margin-top: -24px;
    margin-left: 10px;
    font-size: 1.5em;
    padding: 8px;
  }

  .post-preview-content {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    padding: 1em;
    width: 100%;
    align-items: center;
    text-decoration: none;

    .post-img-wrap {
      text-align: center;
      width: 100%;
      height: 152px;
      max-height: 152px;
      max-width: 262px;
      //border: 1px solid #f4f4f4;
      display: table-cell;
      vertical-align: middle;

      .post-img {
        max-height: 150px;
        height: auto;
        width: auto;
        max-width: 100% !important; //important is ie fix
        display: block;
        margin: 0 auto;
      }
    }

    .post-title {
      //font-size: 0.85em;
      width: 100%;
      max-width: 90%;
      margin-top: 8px;
      line-height: 1em;
      font-weight: bold;
      color: $base-font-color;
    }

    .post-meta {
      font-size: 0.7em;
      line-height: 1.3em;
      color: $light-text-color;
      width: 100%;

      > a {
        color: $light-text-color;
        font-weight: normal;
      }

      > a:hover {
        font-weight: bold;
        color: $light-text-color;
      }
    }

    .post-excerpt {
      width: 100%;
      margin-top: 6px;
      margin-bottom: 6px;
      max-width: 320px;
      font-size: 0.8em;
      line-height: 1.4em;
      flex: 1 0 auto;
    }
  }

  .post-preview.post-preview-with-head .post-preview-content {
    padding-top: 2em;
  }

  //
  //@include respond-to(medium-up) {
  //  .post-img-wrap {
  //    max-width: 320px;
  //  }
  //  &.post-previews-4 .post-preview {
  //    width: 50%;
  //  }
  //  &.post-previews-3 .post-preview {
  //    width: 50%;
  //  }
  //  &.post-previews-2 .post-preview {
  //    width: 50%;
  //  }
  //}
  //
  //@include respond-to(large-up) {
  //
  //  &.post-previews-4 .post-preview {
  //    width: 25%;
  //  }
  //  &.post-previews-3 .post-preview {
  //    width: 33%;
  //  }
  //  &.post-previews-2 .post-preview {
  //    width: 50%;
  //  }
  //}

}
