
.profile-head {
  margin-top: -16em;
  .box {
    border-color: #131167
  }
}

.profile-map-info-box {
  padding: 0;
  border-color: #131167;
  @include respond-to(medium-up) {
    margin-top: 155px;
  }
  ul {
    margin-left: 20px;
  }
  li {
    margin-bottom: 1.5em;
  }
}

#map-profile {
  width: 100%;
  height: 100%;
  min-height: 30em;
  margin-right: 20px;
}

.profile-concept {

  .read-more {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 180px;
    padding-top: 110px;
    width: 100%;
    text-align: center;
    margin: 0;
    display: none;

    /* "transparent" only works here because == rgba(0,0,0,0) */
    background-image: linear-gradient(to bottom, transparent, #f1f3f6);
  }

  .read-less {
    display: none;
    width: 100%;
    text-align: center;
  }

  &.needed {
    max-height: 300px;
    position: relative;
    overflow: hidden;
    .read-more {
      display: inherit;
    }
    .read-less {
      display: inherit;
    }
  }

  &.expanded {
    max-height: none;

    .read-more {
      display: none;
    }

  }
}

.profile-partners {

  @include respond-to(medium-up) {
    margin-top: 60px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    .profile-partners-box {
      width: 30%;
      margin: 0 auto;
    }
  }

}

.profile {
  padding-bottom: 10em;
  h2 {
    margin-bottom: 10px;
  }
}

.wg-icon {
  max-width: 60px;
}