.project {

  h2 {
    margin: 20px 0 12px;
  }

  .project-topics {
    float: right;
    font-size: 0.8em;
    margin: 0;
    margin-top: 8px;
    > span {
      padding: 3px;
      margin-left: 3px;
      border: solid 1px $base-font-color;
    }
  }

  .project-image {
    text-align: center;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 30px;
  }

  figcaption {
    text-align: center;
    margin-bottom: 30px;
    p {
      margin: 0;
      padding-top: 0;
      font-size: 0.8em;
    }
    a {
      color: black;
      font-size: 0.8em;
    }
  }

  .project-image-full {
    width: 100%;
    height: 100px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }

  @include respond-to(small-up) {
    .project-image-full {
      height: 200px;
    }
  }

  @include respond-to(medium-up) {
    .project-image-full {
      height: 400px;
    }
  }

  .project-content {
    overflow-x: auto;
    img {
      max-width: 100%;
      height: auto;
      display: block;
      margin: 0 auto;
    }
  }

  img {
    display: block;
    height: auto;
    margin: 0 auto;
    max-width: 100%;
  }

}