.sankeychart {
  height: 500px;
  font-size: 12px;

  .sankey-node {
    rect {
      fill: red;
      stroke: red;
    }
  }

  @for $i from 1 through length($chart-colors) {
    .sankey-node-#{$i - 1} {
      rect {
        fill: nth($chart-colors, $i);
        stroke: darken(nth($chart-colors, $i), 2);
      }
    }
  }

  .sankey-link rect {
    fill-opacity: .9;
  }

  .sankey-link text {
    pointer-events: none;
    text-shadow: 0 1px 0 #fff;
  }

  .sankey-link text:hover {
  }

  .sankey-link {
    fill: none;
    stroke: #868779;
    stroke-opacity: .2;
  }

  .sankey-link:hover {
    stroke-opacity: .5;
  }

}
