<div class="app-wrapper-finance-report chartist-finance-report" ng-controller="FinanceReportController" ng-init="init('{{include.url_name}}')">
	<div class="container">
		<div class="container-left-6">
			<p>
				Der <a href="https://www.destatis.de/DE/Publikationen/Thematisch/BildungForschungKultur/BildungKulturFinanzen/BildungsfinanzberichtTabellenteil.html;jsessionid=ACA728FB45F4F1AFE4F02454B090A716.cae3">Bildungsfinanzbericht</a> wird jährlich durch das Statistische Bundesamt herausgegeben und bündelt die wichtigsten Informationen zu den Ausgaben im Bereich Bildung. Er zeigt die Ausgaben der öffentlichen Hand für alle 16
				Bundesländer für fünf verschiedene Bildungsbereiche an. Darunter fallen allgemeinbildende und berufliche Schulen, Hochschulen, Förderung des Bildungswesens, sonstiges Bildungswesen sowie Jugendarbeit und Tageseinrichtungen für Kinder.
			</p>
		</div>
		<div class="container-left-6 special-data-column">
			<div ng-if="data_special">
				{% raw %}
				<h5 ng-bind="data_special.key"></h5>
				<chartist class="ct-chart {{data_special.class}}" chartist-data="data_special.data" chartist-chart-options="data_special.options" chatist-events="data_special.events" chartist-chart-type="Bar" ></chartist>
				{% endraw %}
			</div>
		</div>
	</div>
	<div class="chart-grid">
		<div class="chart-grid-column" ng-repeat="cat in data">
			{% raw %}
			<h5 ng-bind="cat.key"></h5>
			<chartist class="ct-chart {{cat.class}}" chartist-data="cat.data" chartist-chart-type="Bar" chartist-chart-options="cat.options" chatist-events="cat.events" chartist-chart-type="Bar" ></chartist>
			{% endraw %}
		</div>
	</div>
	<div class="chartists-footnote">
		Angaben in Millionen € pro Jahr<br/>
		* Werte für 2015 vorl. Ist
	</div>
		<p>
			Der Bereich Allgemeinbildende und Berufliche Schulen umfasst  Ausgaben für Berufsschulen und alle Schularten, die nicht mit einem Berufsabschluss enden. Der Bereich Öffentliche Hochschulen umfasst Ausgaben für etwa Universitäten und Fachhochschulen. Der Bereich Förderungen der Jugendarbeit und Tageseinrichtungen für Kinder umfasst Ausgaben für Einrichtungen wie Jugendzentren oder Einrichtungen zur Kinderbetreuung. Im Bereich Förderung des Bildungswesens werden Maßnahmen zur Förderung von Schüler*innen und Studierenden verzeichnet. Sonstiges Bildungswesen umfasst Ausgaben für Weiterbildungsmaßnahmen wie beispielsweise Volkshochschulen.
		</p>
</div>
