
<div class="app-wrapper-languages" ng-controller="foreignLanguagesController" ng-init="init('{{include.url_name}}')">
    <!--<p>{{test}}</p>-->
    <!--<svg width="960" height="960" class="zoomablepack"></svg>-->
    <div class="container">
        <div class="container-left-12">
            <nvd3 options="options" data="data"></nvd3>
        </div>
        <div class="container-left-12">
            Die Statistik zeigt an, welche Fremdsprachen an welcher Schulform besonders häufig unterrichtet werden.
            Die Statistik bezieht sich auf den regulären Unterricht. AG-Angeboten werden hier nicht mit eingerechnet.
        </div>
        <div class="container-left-12">
            <div id="heatmap"></div>
        </div>
        <div class="container-left-12">
            {% raw %}
            <table class="heatmap">
                <tr>
                    <th></th>
                    <th ng-repeat="language in languages">{{language}}</th>
                </tr>
                <tr ng-repeat="schooltype in data">
                    <td>{{schooltype.key}}</td>
                    <td ng-repeat="language in schooltype.values"
                        style="background-color: {{colorScale(language[1] / 100)}};">
                        {{language[2] | number}} ({{language[1]}}%)
                    </td>
                </tr>
            </table>
            {% endraw %}
        </div>
    </div>
</div>
