
<div class="app-wrapper-languages" ng-controller="foreignLanguagesController" ng-init="init('{{include.url_name}}')">
    <!--<p>{{test}}</p>-->
    <!--<svg width="960" height="960" class="zoomablepack"></svg>-->
        <div class="container-left-12">
            Die Statistik zeigt an, welche Fremdsprachen besonders häufig unterrichtet werden und bezieht sich auf den regulären Unterricht laut Stundenplan. Schulaktivitäten außerhalb des Unterrichts werden nicht mit eingerechnet. Klicken Sie auf die jeweilige Fremdsprache, um zu sehen, wie sich das Spachenangebot auf die einzelnen Schulformen verteilt.  
        </div>

    <div class="container">
        <div class="container-left-12">
            <h5 class="text-center">Anzahl der angeboten Kurse pro Fremdsprache</h5>
            <chartist class="ct-chart foreign-languages-complete" chartist-data="bardata" chartist-chart-type="Bar"
                      chartist-chart-options="baroptions"></chartist>
        </div>
        <div class="container-left-12" ng-show="show_lang">
            <h5 class="text-center">Anzahl der angeboten Kurse "<span ng-bind="showed_lang"></span>" nach Schulart</h5>
            <chartist class="ct-chart foreign-languages-complete" chartist-data="langdata" chartist-chart-type="Bar"
                      chartist-chart-options="langoptions" chartist-events="barevents"></chartist>
        </div>
        <!--<div class="container-left-12">-->
            <!--<nvd3 options="options" data="data"></nvd3>-->
        <!--</div>-->

        <!--<div class="container-left-12">-->
            <!--<barchart data="languageSums"></barchart>-->
        <!--</div>-->
        <!--<div class="container-left-12">-->
            <!--{% raw %}-->
            <!--<table class="heatmap">-->
                <!--<tr>-->
                    <!--<th></th>-->
                    <!--<th ng-repeat="language in languages">{{language}}</th>-->
                <!--</tr>-->
                <!--<tr ng-repeat="schooltype in data">-->
                    <!--<td>{{schooltype.key}}</td>-->
                    <!--<td ng-repeat="language in schooltype.values"-->
                        <!--style="background-color: {{colorScale(language[1] / 100)}};">-->
                        <!--{{language[2] | number}} ({{language[1]}}%)-->
                    <!--</td>-->
                <!--</tr>-->
            <!--</table>-->
            <!--{% endraw %}-->
        <!--</div>-->
        <!--<div class="container-left-12">-->
            <!--<div id="heatmap"></div>-->
        <!--</div>-->
        <!--<div class="container-left-12">-->
            <!--{% raw %}-->
            <!--<table class="heatmap">-->
                <!--<tr>-->
                    <!--<th></th>-->
                    <!--<th ng-repeat="language in languages">{{language}}</th>-->
                <!--</tr>-->
                <!--<tr ng-repeat="schooltype in data">-->
                    <!--<td>{{schooltype.key}}</td>-->
                    <!--<td ng-repeat="language in schooltype.values"-->
                        <!--style="background-color: {{colorScale(language[1] / 100)}};">-->
                        <!--{{language[2] | number}} ({{language[1]}}%)-->
                    <!--</td>-->
                <!--</tr>-->
            <!--</table>-->
            <!---->
        <!--</div>-->
    </div>
</div>
{% endraw %}