<div class="app-wrapper-languages">
    <!--<p>{{test}}</p>-->
    <!--<svg width="960" height="960" class="zoomablepack"></svg>-->
        <div class="container-left-12">
            Um den Schulunterricht zu gewährleisten und Stundenausfälle zu vermeiden, muss sichergestellt sein, dass es genügend Lehr*innenpersonal an den Schulen gibt. Unsere Darstellung zeigt für jedes Bundesland, auf welche Art die Lehrenden an den jeweiligen Schulen beschäftigt werden. Das heißt, ob sie in Vollzeit, Teilzeit oder auf Stundenbasis beschäftigt sind. Schularten, zu denen wir keine Informationen gefunden haben, werden ausgeblendet. Die Datengrundlage stammt aus dem Bericht des Statistischen Bundesamtes zu <a href="https://www.destatis.de/DE/Publikationen/Thematisch/BildungForschungKultur/Schulen/AllgemeinbildendeSchulen.html">Allgemeinbildenden Schulen 2015/2016</a>.<br>
        </div>
    <div class="container" ng-controller="TeacherRatioController" ng-init="init('{{include.url_name}}')">
        <!--<div class="container-left-12" >-->
            <!--<nvd3 options="options" data="data"></nvd3>-->
        <!--</div>-->
        <div class="container-left-12">
            <div class="container-left-6">
                <div class="container-left-12">
                    <h5 class="text-center">Anteil der Lehrer nach Schularten und Anstellungsart</h5>
                </div>
                <div class="container-left-12">
                    <!--<div class="responsive-svg-container" id="graph"></div>-->
                    <chartist class="ct-chart" chartist-data="data" chartist-chart-type="Bar"
                              chartist-chart-options="options" chatist-events="events"></chartist>

                </div>
            </div>
            <div class="container-left-6">
                <h5 class="text-center">Anzahl der Lehrer nach Schulart</h5>
                <chartist class="ct-chart" chartist-data="abs_data" chartist-chart-type="Bar"
                          chartist-chart-options="abs_options"></chartist>
            </div>
        </div>
    </div>
</div>