
<div class="container app-wrapper">
    <!--ng-controller="SchoolkindsController" ng-init="init('{{include.url_name}}')"-->
    <!--<div class="button-group">-->
        <!--<label ng-repeat="(year, value) in schooltypes">-->
            <!--<input type="radio" name="button-group" value="item">-->
            <!--<span class="button-group-item" ng-click="refreshBarchart(year)">{{year}}</span>-->
        <!--</label>-->
    <!--</div>-->
    <!--<div id="wrapper" style="padding-top:4em;"></div>-->
    <!--<barchart data="data" caption="categories" colors="colors"></barchart>-->
    <!--<div class="button-group">-->
        <!--<label ng-repeat="(type, value) in schooltypesAfterYear track by $index">-->
            <!--<input type="checkbox" name="button-group" ng-model="active_lines[$index]" ng-change="refreshLineChart()">-->
            <!--<span class="button-group-item" ng-click="">{{type}}</span>-->
        <!--</label>-->
    <!--</div>-->
    <!--<linechart data="linedata" labels="labels" textx="textx"></linechart>-->
    <!--<div class="container-left-6">-->
        <!--<nvd3 options="nvd3options"-->
              <!--data="nvd3data"-->
              <!--config="nvd3config"></nvd3>-->
    <!--</div>-->
    <div class="container-left-6">
        Das Bildungssystem in Deutschland ist in unterschiedliche Schulformen gegliedert. Da Schulbildung Ländersache ist, ist es in jedem Bundesland anders organisiert und hat sich in den vergangenen Jahren unterschiedlich entwickelt. Das nebenstehende Diagramm zeigt die Entwicklung der Schularten an, deren Anzahl sich zwischen den Jahren 2007 und 2015 um mehr als 8% verändert haben und bei denen mindestens 10 Schulen neu eröffnet oder geschlossen wurden. Schularten mit einer konstanten Entwicklung werden nicht angezeigt. Die Datengrundlage stammt aus dem Bericht des Statistischen Bundesamtes zu <a href="https://www.destatis.de/DE/Publikationen/Thematisch/BildungForschungKultur/Schulen/AllgemeinbildendeSchulen.html">Allgemeinbildenden Schulen 2015/2016</a>.
    </div>
    <div class="container-left-6 slope-wrapper" ng-controller="Schoolkinds2Controller" ng-init="init('{{include.url_name}}')">
        <h5 class="text-center">Entwicklung der Schularten zwischen 2007 und 2015</h5>
        <section id="slopegraph"></section>
    </div>
    <!--<stackedbarchart></stackedbarchart>-->
</div>