{% raw %}
<div class="app-wrapper" ng-controller="SchoolkindsController">
    <div class="button-group">
        <label ng-repeat="(year, value) in schooltypes">
            <input type="radio" name="button-group" value="item">
            <span class="button-group-item" ng-click="refreshBarchart(year)">{{year}}</span>
        </label>
    </div>
    <div id="wrapper" style="padding-top:4em;"></div>
    <barchart data="data" caption="categories" colors="colors"></barchart>
    <div class="button-group">
        <label ng-repeat="(type, value) in schooltypesAfterYear track by $index">
            <input type="checkbox" name="button-group" ng-model="active_lines[$index]" ng-change="refreshLineChart()">
            <span class="button-group-item" ng-click="">{{type}}</span>
        </label>
    </div>
    <linechart data="linedata" labels="labels" textx="textx"></linechart>
    <stackedbarchart></stackedbarchart>
</div>
{% endraw %}