---
layout: default
---
<div class="container" ng-app="App">
    <div class="container-left-12">
        <div class="box box-with-head box-margin-top-medium">
            <h1 class="box-head">{{page.name}}</h1>
            <p>
                {{page.content}}
            </p>
        </div>
    </div>
    <div class="container-left-12">
        <div class="box box-with-head box-margin-top-medium">
            <h1 class="box-head">Bundesfinanzbericht</h1>
            {% include laender/finanzbericht.html state=page.name %}
        </div>
    </div>
    <div class="container-left-12">
        <div class="box box-with-head box-margin-top-medium">
            <h1 class="box-head">Schularten</h1>
            {% include laender/schularten.html state=page.name %}
        </div>
    </div>
</div>