---
layout: default
menu_aktionen: yes
title: Schulaktivitäten
description: Schule ist weit mehr als nur Unterricht
---
<main ng-app="App">
    <section class="container-outer container-bgi-blue">
        <div class="container">
            <div class="container-left-8">
                <h1>Schulaktivitäten</h1>
                <p>Schule ist weit mehr als nur Unterricht. Potenziale, Persönlichkeit und das Engagement für die
                    Gesellschaft entwickeln sich vorwiegend außerhalb des Regelbetriebs. Viele Schulen bieten ihren
                    Schüler*innen deshalb ganz unterschiedliche zukunftsfähige Projekte zu Themen wie Digitalisierung,
                    neue Arbeitswelten, Klimaschutz oder Demokratie an, die sie gemeinsam mit Partnerorganisationen
                    aus Politik, Zivilgesellschaft und Wirtschaft umsetzen.
                </p>
                <p>
                    Detaillierte Aktivitäten und Partnerorganisationen der jeweiligen Schulen finden Sie auf den
                    <a href="{{ site.baseurl }}/schulen/#!?lat=51.699799849741936&lng=13.073730468750002&zoom=7&profile">Schulprofilen</a>
                    der zwei Bundesländer.
                </p>
            </div>
        </div>
    </section>
    <section class="container-outer">
        <div class="container-padded">
            <div class="container">
                <div class="container-left-12">
                    <h3><span>Schulaktivitäten in Berlin</span></h3>
                </div>
                <div class="container-left-12">
                    {% include aktionen/ag.html name='berlin' caption='Berlin'%}
                </div>
            </div>
        </div>
    </section>
    <section class="container-outer container-bg-grey">
        <div class="container-padded">
            <div class="container">
                <div class="container-left-12">
                    <h3><span class="grey">Partner Berlin</span></h3>
                </div>
                <div class="container-left-12">
                    {% include aktionen/partner.html name='berlin' caption='Berlin' %}
                </div>
            </div>
        </div>
    </section>
    <section class="container-outer">
        <div class="container-padded">
            <div class="container">
                <div class="container-left-12">
                    <h3><span>Schulaktivitäten in Sachsen</span></h3>
                </div>
                <div class="container-left-12">
                    {% include aktionen/ag.html name='sachsen' caption='Sachsen' %}
                </div>
            </div>
        </div>
    </section>
    <section class="container-outer container-bg-grey">
        <div class="container-padded">
            <div class="container">
                <div class="container-left-12">
                    <h3 class="text-center"><span class="grey">Partner Sachsen</span></h3>
                </div>
                <div class="container-left-12">
                    {% include aktionen/partner.html name='sachsen' caption='Sachsen' %}
                </div>
            </div>
        </div>
    </section>
    <section class="container-outer">
        <div class="container-padded">
            <div class="container">
                <div class="container-left-12">
                    <h3><span>Bundesweite Bildungsprogramme</span></h3>
                </div>
                <div class="container-left-12">
                    {% include aktionen/programs.html %}
                </div>
            </div>
        </div>
    </section>
</main>